.SignUpEmail {
  background: url('./background.jpg') no-repeat top center #fdfcf7;
  width: 100%;
  height: 1158px;
  position: relative;
}

.SignUpEmail__wrapper {
  width: 580px;
  margin: 0 auto;
  position: relative;

  a {
    display: inline-block;
    color: transparent;
    position: absolute;
    top: 692px;
    left: 30px;
    padding: 0 10px;
  }
}
