@keyframes grow {
  0% {
    transform: scale(1) translate(0, 0);
    opacity: 1;
  }

  10% {
    transform: scale(1) translate(0, 0);
    opacity: 1;
  }

  100% {
    transform: scale(0) translate(4px, 8px);
    opacity: 0;
  }
}

.AnimatedHeart {
  &__heart-1 {
    animation: grow 1300ms cubic-bezier(0.8, -0.2, 0.2, 1.5) alternate infinite;
    transform-origin: 50% 50%;
    animation-delay: 50ms;
  }

  &__heart-2 {
    animation-delay: 300ms;
  }

  &__heart-3 {
    animation-delay: 450ms;
  }

  &__heart-4 {
    animation-delay: 500ms;
  }

  &__heart-5 {
    animation-delay: 400ms;
  }

  &__heart-6 {
    animation-delay: 550ms;
  }

  &__heart-7 {
    animation-delay: 600ms;
  }
}
