.Modal {
  overflow: hidden;
  height: 100%;
  width: 100%;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  transform: scale(0);

  &--opened {
    visibility: visible;
    transform: scale(1);
  }

  &--aboveTopBar {
    z-index: 4;
  }
}
