@import '../../variables';

.Confirm {
  font-family: $defaultFontStack;
  width: 600px;
  margin: 100px auto 200px;
  text-align: center;
  color: $charcoal;

  img {
    width: 200px;
  }
}

.Confirm__heading {
  font-family: $titleFontStack;
  font-size: 64px;
  margin-bottom: $x-6;
}

.Confirm__body {
  font-size: 18px;
  margin-bottom: $x-10;
  line-height: 1.5;
}

.Confirm__buttons {
  text-align: center;
  width: 300px;
  margin: 0 auto;

  button {
    display: block;
    width: 100%;
    margin-bottom: 12px;
  }
}
