// Colours
$green: #01a044;
$lightGreen: #7EC775;
$cream: #fdfcf7;
$charcoal: #585858;
$smoke: #8E8E8E;
$red: #FF6347;
$yellow: #ffbe40;

// Easing
$bounce: cubic-bezier(0.5, -0.5, 0.25, 1.25);

// Type
$titleFontStack: 'Amatic SC', lato , helvetica, arial, sans-serif;
$defaultFontStack: lato, helvetica, arial, sans-serif;

// x-heights
$x-1: 4px;
$x-2: 8px;
$x-3: 12px;
$x-4: 16px;
$x-5: 20px;
$x-6: 24px;
$x-7: 28px;
$x-8: 32px;
$x-9: 36px;
$x-10: 40px;
