@import '../../variables';

.AuthNotification {
  font-family: $defaultFontStack;
  background: #fff;
  color: $charcoal;
  display: flex;
  padding: 20px 28px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
}

.AuthNotification__content {
  flex: 1 1 100%;

  a {
    color: $green;
    text-decoration: none;

    &:hover {
      color: $lightGreen;
    }
  }
}

.AuthNotification__actions {
  flex: auto;
}

.AuthNotification__title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 8px;
}

.AuthNotification__body {
  font-size: 16px;
}
