.BlackbaudConfirm {
  text-align: center;
  font-family: 'Open Sans', 'helvetica neue', arial, sans-serif;

  img {
    width: 107px;
    display: block;
    margin: 10px auto 164px;
  }
}

.BlackbaudConfirm__content {
  width: 325px;
  margin: 0 auto 48px;
}

.BlackbaudConfirm__title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 16px;
}

.BlackbaudConfirm__button {
  display: block;
  width: 300px;
  margin: 0 auto 16px;
  border: 1px solid #c2c2c2;
  color: #333;
  background: #fff;
  border-radius: 3px;
  font-size: 18px;
  padding: 8px;

  &:hover {
    border-color: #aaa;
  }
}

$bbblue: #0081ca;

.BlackbaudConfirm__button--allow {
  background-color: $bbblue;
  border-color: $bbblue;
  color: #fff;

  &:hover {
    background-color: lighten($bbblue, 2);
    border-color: lighten($bbblue, 2);
  }
}
